* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tabs {
  width: 80%;
  float: none;
  list-style: none;
  position: relative;
  margin: 20px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 10px 13px;
  border-style: ridge;
  border-radius: 5px 5px 0 0!important;
  font-size: 12px;
  font-weight: normal;
  background: lightgrey;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: darkgrey;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  padding: 14px;
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border-style: ridge;
  border-width: 1px!important;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 15px;
  background: white;
  border-style: ridge;
  border-width: 1px!important;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
